.not-found {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 100%;
  padding-top: 246px;
}

.not-found__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 100%;
  margin-bottom: 183px;
}

.not-found__text-container {
  margin-bottom: 182px;
}

.not-found__error {
  margin: 0;
  font-size: 140px;
  line-height: 169px;
  margin-bottom: 6px;
}

.not-found__title {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  margin: 0;
}

.not-found__button {
  border: none;
  margin: auto;
  font-size: 14px;
  line-height: 17px;
  color: #2BE080;
  text-decoration: none;
  background-color: transparent;
}

.not-found__button:hover {
  cursor: pointer;
}

@media (max-width: 900px) {
  .not-found {
    padding-top: 407px;
  }
}

@media (max-width: 500px) {
  .not-found {
    padding-top: 330px;
  }
  .not-found__wrapper {
    margin-bottom: 284px;
  }
  .not-found__error {
    font-size: 80px;
    line-height: 97px;
    margin-bottom: 10px;
  }
  .not-found__title {
    font-size: 12px;
    line-height: 15px;
  }
  .not-found__button {
    font-size: 12px;
    line-height: 15px;
  }
}